.modal-container{
    width: 400px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid #e2e8f0;
    position:absolute;
    z-index: 111111;
    right: 0;
    padding: 15px;
    // top: 200px;

    .modal-content{
        box-shadow: none !important ;
    }
}

.modal-close {
    display: none;
}
.modal-title{
 font-size: 20px;
}
