.main {
  height: 80vh;
  width: 100%;

 

  .flow {
    height: 100%;
    display: flex;

    .reactFlow {
      flex: auto;
      background-color: #f9fafb;
    }
  }
}

.sidebar {
  min-width: 200px;
  max-width: 200px;
  border-right: 1px solid #e2e8f0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .firstElement,
  .secondElement {
    border: 2px solid black;
    padding: 6px 16px;
    border-radius: 3px;
    text-align: center;
    background-color: #ffff00;
    font-size: 14px;
    font-weight: 500;
    min-height: 37px;
    cursor: grab;
  }

  .secondElement {
    background-color: #ffe59a;
  }
}