.table {
  background-color: #fff;
  border-radius: 6px;
  margin: 16px;
  padding-top: 4px;
  padding-bottom: 10px;

  ::-webkit-scrollbar {
    display: none;
  }

  .numbers,
  .table__header {
    color: #1a2024;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.084px;
    border: 1px solid #f4f6fa;
    text-transform: capitalize !important;
  }

  .tBody {
    // max-height: 100vh;
    // overflow-y: scroll;
    border: 1px solid red;



    .body__table {
      border: 1px solid #f4f6fa;
      width: 30px !important;   

      
      .actions {
        position: relative;
      }
      
      Td {
        border: 1px solid #f4f6fa;
        cursor: pointer;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.084px;
        
        .action__icon {
          border-radius: 6px;
          border: 1px solid #e6e7e9;
          display: flex;
          justify-content: center;
          align-items: stretch;
          background-color: #fff;
          cursor: pointer;
          
        }
      }
    }
    .body__table:nth-child(odd) {
      background-color: #edf2f7;
      height: 100%;
    }
  }
  .pagination__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
 
}

.numbers {
  width: 30px !important;
}

.desc {
  white-space:break-spaces ;
}


